body {
  margin: 0;
  padding: 0;
  background-size: cover;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

/* .card {
  height: 10rem;
  width: 10rem;
  background-color: rgba(30, 30, 30, 0.6);
  border-radius: 10px;
  backdrop-filter: blur(3px);
  border: 2px soild rgba(255, 255, 255, 0.2);
} */

.card:hover {
  cursor: pointer;
}
