body {
  margin: 0;
  padding: 0;
  background-size: cover;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

/* .card {
  height: 10rem;
  width: 10rem;
  background-color: rgba(30, 30, 30, 0.6);
  border-radius: 10px;
  backdrop-filter: blur(3px);
  border: 2px soild rgba(255, 255, 255, 0.2);
} */

.card:hover {
  cursor: pointer;
  transform: scale(1.03);
  /* border: 1px solid grey; */
}

.card img{
  height: 9.9rem;
  width: 9.9rem;
  border-radius: 10px;
  opacity: 0;
}

.image{
  position: absolute;
}

.card.clicked img{
  opacity: 1;
}
.blur{
  opacity: 0.4;
  pointer-events: none;
}

.card.shake{
  animation: shake 0.5s;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
